*
*/

#Whitelist
!.gitignore
!sources
!include
!cdl_listaddback.c
!cdl_listaddfront.c
!cdl_listclear.c
!cdl_listdecr.c
!cdl_listdelnode.c
!cdl_listgetnode.c
!cdl_listincr.c
!cdl_listinit.c
!cdl_listpopnode.c
!cdl_nodenew.c
!cdl_list.h
!Makefile